.progress-indicator {
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
}

.stage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.stagename {
    color: #5784ab;
    font-size: 0.6em;
    align-self: center;
}

.stagename.active {
    color: white;
}

.icon {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: grey;
    align-self: center;
}

.icon.active {
    background-color: white;
}

.icon.complete {
    background-color: #5784ab;
}

.stage .line {
    height: 2px;
    background-color: grey;
    width: 100%;
    position: absolute;
    top: 16%;
    z-index: -1;
}

.stage:first-of-type .line {
    width: 50%;
    left: 50%;
}

.stage:last-of-type .line {
    width: 50%;
}
