:host {
    color: white;
}

.header {
    padding: 0.5rem;
    background-color: #5784ab;
}

.price {
    font-weight: bold;
    color: #5784ab;
}

.description {
    font-size: 0.6em;
}

.product {
    display: flex;
    margin: 0.5rem 0;
}

.product div {
    margin: 0.3rem;
}

.product_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    /* border: none; */
    font-size: 0.9rem;
    padding: 0.1rem 0.3rem;
    border-radius: 2px;
    text-decoration: none;
    background-color: #5784ab;
    color: white;
    display: inline-block;
    text-align: center;
    /* margin-left: 33%; */
    /* margin-right: 33%; */
    /* margin-top: 1em; */
}

a {
    color: #5784ab;
}
